/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 24, 2025, 7:12:08 PM
    Author     : Dell
*/

.list-view {
    -fx-background-color: #FFFFE0;
    -fx-background-radius: 20px; 
    -fx-border-color: black; 
    -fx-border-width: 2px;
    -fx-border-radius: 20px;
    -fx-padding: 5px
}



.list-cell {
    -fx-background-color: #FFFFE0; 
    -fx-text-fill: black;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-color: transparent;
    -fx-padding: 5px;
}


.list-cell:filled:selected,
.list-cell:filled:hover,
.list-cell:filled {
    -fx-border-color: #CCCCCC;
    -fx-border-width: 0 0 1 0;
}

.list-cell:empty {
    -fx-border-width: 0;
}

.list-cell:filled:selected {
    -fx-background-color: #FFD700;
    -fx-text-fill: black;
}

.list-cell:filled:hover {
    -fx-background-color: #FFD700;
    -fx-text-fill: black;
}


.list-view .scroll-bar:vertical,
.list-view .scroll-bar:horizontal {
    -fx-background-color: transparent;
}

.list-view .scroll-bar:vertical .track,
.list-view .scroll-bar:horizontal .track {
    -fx-background-color: black;
    -fx-border-color: black;
}

.list-view .scroll-bar:vertical .thumb,
.list-view .scroll-bar:horizontal .thumb {
    -fx-background-color: #333333; 
    -fx-background-insets: 3;
    -fx-background-radius: 5;
}

.list-view .scroll-bar:vertical .increment-button,
.list-view .scroll-bar:vertical .decrement-button,
.list-view .scroll-bar:horizontal .increment-button,
.list-view .scroll-bar:horizontal .decrement-button {
    -fx-background-color: black; 
    -fx-padding: 5;
}

.list-view .scroll-bar:vertical .increment-arrow,
.list-view .scroll-bar:vertical .decrement-arrow,
.list-view .scroll-bar:horizontal .increment-arrow,
.list-view .scroll-bar:horizontal .decrement-arrow{
    -fx-background-color: white;
}

